@font-face {
	font-family: nanumcute;
	src: url(./assets/fonts/NanumPenCute.ttf)
}
/* border stuff */
#top, #bottom, #left, #right {
	background: #B47BDE;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 10px;
		}
		#top { top: 0; }
		#bottom { bottom: 0;
}
html {
	overflow: auto;
	background-color: #000000;
	font-family: nanumcute;
	color: #ffffff
}
/* make all links white */
a {
    color: #FFFFFF;
}
a:visited {
    color: #FFFFFF;
}
a:hover {
    color: #FFFFFF;
}
a:link {
    color: #FFFFFF;
}
.title {
	font-size: 2.5em;
	padding-top: 0.5em;
	padding-left: 1.5em;
	line-height: 1vh
}